.section {
  padding: var(--section-padding);
  color: var(--text-main);
  background-color: var(--section-bg-dark);

}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-bottom: 30px;;
}

.infoColumn {
  flex: 1;
  text-align: left;
  margin: 0 30px;
}

.formColumn {
  flex: 1;
  width: 100%;
}

.payment h3 {
  color: var(--accent-color);
  margin: 20px 0 10px;
}

@media (min-width: 768px) {
  .flexWrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}