@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v136/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.calendar {
    font-size: 12px; 
    width: 100%;
    max-width: 36em; 
    text-align: center;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 2.75em;
    color: #4a4949;
    margin-bottom: 1em;
}

.navigation__arrow, 
.navigation__current-month {
    padding: 0.3em;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.navigation__current-month {
    margin: 0 0.3em;
    font-size: 1.1em;
    font-weight: bold;
}

.navigation__arrow:hover, 
.navigation__current-month:hover {
    background-color: rgb(231, 231, 231);
}

.week-days {
    display: flex;
}

.week-days__names {
    padding: 0.3em;
    flex: 0 0 14.28%;
    text-transform: uppercase;
    text-decoration: underline dotted;
    color: #565656;
    font-size: 0.9em;
}

.month-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day {
    padding: 1.2em 0;
    flex: 0 0 14.28%;
    cursor: pointer;
    background-color: white;
    border: solid 1px white;
    border-radius: 0.2em;
    color: #4a4949;
    user-select: none;
    box-shadow: 0.2em 0.2em 0.4em 0px #d2d2d280;
    z-index: 2;
    font-size: 1.1em;
    transition: all 0.2s ease;
}

.day:not(.day__reserved):not(.day__past):hover {
    background-color: #8d8c8c !important;
    color: white !important;
}

.day__blank {
    padding: 0.6em;
    flex: 0 0 14.28%;
}

.day__today {
    outline: 0.125em dotted red;
    outline-offset: -0.2em;
}

.day__past,
.day__past.day__sunday,
.day__past.day__saturday {
    color: #d3d3d3 !important;
    cursor: default;
}

.day__reserved {
    color: gray;
    opacity: 0.5;
    position: relative;
    pointer-events: none;
}

.day__reserved::before,
.day__reserved::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: red;
}

.day__reserved::before { transform: rotate(45deg); }
.day__reserved::after { transform: rotate(-45deg); }

.day__sunday, 
.day__saturday {
    color: #d10000;
}

.day__weekend {
    background-color: #fcfcfc;
}

.day__selected-as-start,
.day__selected-as-end,
.day__selected-between,
.day__hovered {
    background-color: #ffe299 !important;
    color: white !important;
}

.day__selected-between:hover, 
.day__selected-as-start:hover, 
.day__selected-as-end:hover {
    background-color: #f0c96e !important;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
    display: inline-block;
}