@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v136/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.calendar {
    font-size: 12px; 
    width: 100%;
    max-width: 36em; 
    text-align: center;
    box-sizing: border-box;
}

.calendar__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875em;
    align-items: center;
    min-height: 90vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 2.75em;
    color: #4a4949;
    margin-bottom: 1em;
}

.navigation__arrow {
    width: 2.75em;
    padding: 0.3em;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__arrow:hover {
    background-color: rgb(231, 231, 231);
}

.navigation__current-month {
    margin: 0 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.1em;
    font-weight: bold;
}

.navigation__current-month:hover {
    background-color: rgb(231, 231, 231);
}

.week-days {
    display: flex;
}

.week-days__names {
    padding: 0.3em;
    flex: 0 0 14.28%;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #565656;
    font-size: 0.8em;
}

.month-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day {
    padding: 1.2em 0;
    flex: 0 0 14.28%;
    cursor: pointer;
    background-color: white;
    border: solid 1px white;
    border-radius: 0.2em;
    color: #4a4949;
    user-select: none;
    box-shadow: 0.2em 0.2em 0.4em 0px #d2d2d280;
    z-index: 2;
    font-size: 1em;
}

.day:hover {
    background-color: #8d8c8c;
}

.day__blank {
    padding: 0.6em;
    flex: 0 0 14.28%;
}

.day__today {
    outline: 0.125em dotted red;
    outline-offset: -0.2em;
}

.day__reserved {
    color: gray;
    opacity: 0.5;
    position: relative;
    pointer-events: none;
}

.day__reserved::before,
.day__reserved::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 1px;
    background-color: red;
}

.day__reserved::before {
    transform: rotate(45deg);
}

.day__reserved::after {
    transform: rotate(-45deg);
}

.day__sunday,
.day__saturday {
    color: #d10000;
}

.day__selected-as-start,
.day__selected-as-end {
    background-color: #ffe299;
    color: white;
}

.day__selected-between {
    background-color: #ffe299 !important;
    color: white;
}

.day__hovered {
    background-color: #FFE299;
    color: white;
}

.day__past {
    color: #d3d3d3;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 0.6em;
    margin-top: 0.6em;
}

.buttons__add,
.buttons__clear {
    padding: 0.9em 1.25em;
    cursor: pointer;
    border: 0.125em solid silver;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 0.9em;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em; /* Skaluje ikonę względem font-size kalendarza */
    line-height: 1;
    display: inline-block;
}