@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v136/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.calendar {
    font-size: 14px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    color: #2d2d2d;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 3em;
    margin-bottom: 1em;
}

.navigation__arrow,
.navigation__current-month {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.navigation__current-month {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: lowercase;
}

.navigation__arrow:hover {
    opacity: 0.7;
}

.week-days {
    display: flex;
    margin-bottom: 10px;
}

.week-days__names {
    flex: 0 0 14.28%;
    color: #cccccc;
    font-size: 0.9em;
    font-weight: bold;
}

.day__weekend{
 background-color: #f2b3360d ;
}

.month-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 14.28%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.day-number {
    font-size: 1.1em;
}

.day-price {
    font-size: 0.7em;
    margin-top: 2px;
    font-weight: bold;
}

.day__discount .day-price {
    color: #4ade80;
}

.day:not(.day__reserved):not(.day__past):hover {
    color: white;
    background-color: #555555;
    border-radius: 4px;
}

.day__blank {
    flex: 0 0 14.28%;
    aspect-ratio: 1 / 1;
}

.day__today {
    color: #c9b363 ;
    font-weight: bold;
    border: 1px dashed #c9b363 ;
    border-radius: 4px;
}

.day__past {
    color: #bdbdbd !important;
    cursor: default;
}

.day__reserved {
    color: #b7b7b7;
    position: relative;
    pointer-events: none;
}


.day__reserved::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #ff4d4d;
    transform: rotate(-45deg);
}

.day__selected-as-start,
.day__selected-as-end,
.day__selected-between,
.day__hovered {
    background-color: #c9b363 !important;
    color: #fff !important;
    border-radius: 4px;
}

.day__selected-as-start .day-price,
.day__selected-as-end .day-price,
.day__selected-between .day-price,
.day__hovered .day-price {
    color: #000 !important;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
}

.calendar-error {
    color: #ff4d4d;
    font-size: 0.85rem;
    margin-top: 15px;
    font-weight: 500;
}