.heroSlider {
  position: relative;
  width: 100dvw;
  height: 80vh;
  background: #000;
  overflow: hidden;
  opacity: 0;
  animation: fadeInSlider 1s ease-out forwards;
}

.sliderMain,
.slide {
  position: absolute;
  inset: 0;
}

.slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #74747454, #000000e6);
  z-index: 2;
}

.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: kenBurns 20s linear infinite alternate;
  filter: blur(1px);
}

.slideContent {
  position: absolute;
  top: 30dvh;
  left: 20px;
  right: 20px;
  color: #fff;
  z-index: 10;
}

.slideSubtitle,
.slideTitle,
.slideTopic,
.slideDesc,
.slideActions {
  opacity: 0;
  transform: translateY(30px);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide.active .slideSubtitle,
.slide.active .slideTitle,
.slide.active .slideTopic,
.slide.active .slideDesc,
.slide.active .slideActions {
  opacity: 1;
  transform: translateY(0);
}

.slide.active .slideSubtitle {
  transition-delay: 0.4s;
}

.slide.active .slideTitle {
  transition-delay: 0.6s;
}

.slide.active .slideTopic {
  transition-delay: 0.8s;
}

.slide.active .slideDesc {
  transition-delay: 1.0s;
}

.slide.active .slideActions {
  transition-delay: 1.2s;
}

.slideTitle {
  font-size: 2.3rem;
}

.slideSubtitle {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}


.slideTopic {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin: 5px 0 10px;
}

.slideDesc {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
   color: #fff;
}

.slideActions {
  display: flex;
  gap: 10px;
}

.btnPrimary,
.btnOutline {
  padding: 10px 18px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btnPrimary {
  background: var(--accent-color);
  color: #fff;
}

.btnOutline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btnPrimary:hover {
  background: var(--bg-white);
  color: var(--text-main);
}

.btnOutline:hover {
  background: #fff;
  color: #000;
}

.sliderControls {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  box-sizing: border-box;
}

.thumbnailsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  scrollbar-width: none;
}

.thumbnailsContainer::-webkit-scrollbar {
  display: none;
}

.thumbItem {
  width: 70px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  transition: 0.4s;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.activeThumb {
  opacity: 1;
  border-color: var(--accent-color);
  transform: translateY(-5px);
}

.thumbItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: var(--accent-color);
  width: 0;
  animation: progress 7.5s linear forwards;
}

.bottomNav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.paginationDots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 15px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.activeDot {
  background: #8da242;
  width: 30px;
}

.arrows {
  display: flex;
  gap: 15px;
}

.arrow {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}

@keyframes fadeInSlider {
  to {
    opacity: 1;
  }
}

@keyframes kenBurns {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .slideTitle {
    font-size: 3rem;
  }

  .slideTopic {
    font-size: 1.8rem;
  }

  .slideSubtitle {
    font-size: 1.6rem;
  }

}

@media (max-height: 1000px) {
  .slideContent {
    top: 25%;
  }
}

@media (min-width: 1024px) {
  .overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 60%);
  }

  .slideContent {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    max-width: 600px;
  }

  .slideTitle {
    margin: 1rem 0;
    letter-spacing: 1.1px;
  }

  .slideTopic {
    font-size: 2.5rem;
  }

  .slideDesc {
    font-size: 1.2rem;
    -webkit-line-clamp: unset;
  }

  .sliderControls {
    bottom: 50px;
    padding: 0 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnailsContainer {
    margin-bottom: 0;
    gap: 20px;
  }

  .thumbItem {
    width: 100px;
    height: 150px;
  }

  .bottomNav {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    display: flex;
  }

  .paginationDots {
    display: none;
  }
}

@media (max-height: 700px) {
  .slideContent {
    top: 10%;
  }
}