.navbar {
    background-color: var(--bg-white);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logoWrapper {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
    overflow: hidden;
}

.logoImage {
    object-fit: contain;
    object-position: left;
}

.navLinks {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navLinks a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
    transition: color var(--transition);
    text-decoration: none;
}

.navLinks a:hover {
    color: var(--accent-color);
}