.container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    flex-direction: column;
    transition: height 0.3s ease, top 0.3s ease;
}

.scrolled {
    height: 70px;
    top: -31px;
}