.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.imageLink {
    cursor: pointer;
    margin: 0px;
    width: 45%;
    margin: 2px;
    position: relative;
    
}

.image {
    transition: transform 0.3s ease-in;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 80%;
    aspect-ratio: 1 / 1;
}

.image:hover {
    transform: scale(1.05);
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-top: 5px;
    background: linear-gradient(to top, #00000087 0%, #0000 140%);
    width: 100%;
    height: 15%;
    color: white;
    font-size: 16px;;
}

@media (min-width: 762px) {
    .imageLink {
        width: calc(50% - 20px);
        height: 300px;
    }
}

@media (min-width: 1024px) {
    .imageLink {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 1400px) {
    .imageLink {
        width: calc(25% - 20px);
    }
}