.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.imageLink {
    cursor: pointer;
    width: 100%;
    margin: 10px;;
}

.image {
    transition: transform 0.3s ease-in;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image:hover {
    transform: scale(1.05);
}

@media (min-width: 762px) {
 .imageLink {
    width: 48%;
    }
}

@media (max-width: 900px) {
   
}

