.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-main);
}
.title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 15px auto 0;
}

.content p {
    margin-bottom: 20px;
    text-align: center;
}

.content strong {
    color: var(--accent-color);
}

.links {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.link {
    display: block;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.link:hover {
    color: #1e8449;
    text-decoration: underline;
}

@media (min-width: 769px) {
    .title {
        margin-bottom: 50px;
    }

    .content p {
        text-align: justify;
    }
}