:root {
    --primary-color: #262a10;
    --accent-color: #c9b363;
    --secondary-color: #f4f1ea;
    --text-main: #142a1d;
    --text-light: #ffffff;
    --bg-white: #ffffff;
    --action-color: #c3a846;
    --error-color: #c0392b;


}

body,
p,
li,
label {
    font-family: var(--font-body);
    font-weight: 300;
    line-height: 1.6;
}
*{
    margin: 0;
    box-sizing: border-box;
}

body {
   --font-display: var(--font-sansita), sans-serif; 
    --font-heading: var(--font-pt-serif), serif;
    --font-body: var(--font-mulish), sans-serif;

    color: var(--text-main);
    background-color: var(--bg-white);
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.2rem);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4 {
    font-family: var(--font-heading);
    font-weight: 400;
    letter-spacing: normal;
    font-style: normal;
    font-style: oblique;
}

h1 {
    font-family: var(--font-display);
    font-weight: 800;
    line-height: 1.1;
    font-size: clamp(2.9rem, 7.5vw, 4.5rem);
    color: var(--text-light);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    letter-spacing: normal;
    margin:0;
}

h2 {
    font-size: clamp(1.8rem, 3.5vw, 2.8rem);
    line-height: 1.2;
}

h3 {
    line-height: 1.3;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

h4 {
    line-height: 1.4;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

p {
    margin-bottom: 1rem;
}

button,
a,
nav {
    font-family: var(--font-body);
    text-decoration: none;
}