.formContainer {
  background-color: var(--bg-white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: var(--text-main);
  margin: 30px;
}

.group {
  margin-bottom: 20px;
}

.group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}

.input, .textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color var(--transition);
}

.input:focus, .textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.submitBtn {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--text-light);
  padding: 14px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color var(--transition);
}

.submitBtn:hover {
  background-color: #7a8d38;
}

.errorMessage {
  color: #dc3545;
  background-color: #f8d7da;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.successContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 200px;
  color: (--var-text-main);
}