.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80dvh;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #262a10;
    height: 150px;
    width: 100%;
}

.searchBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
}

.dateBox,
.gestsBox,
.cabinsBox {
    margin: 0 10px;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.date,
.gests,
.cabins {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    text-align: left;
}

.setDate,
.setGests,
.setCabins {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height var(--transition);
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;;
    font-size: 0.8rem;
    width: 100%;
    ;
}

.expandedDate {
    height: 530px;
}

.expandedGests {
    height: 290px;
}

.expandedCabins {
    height: 250px;
}

.cabinsSelection {
    display: flex;
    gap: 40px;
    padding: 10px 0;
    justify-content: center;
    width: 100%;
}

.cabinOption {
    cursor: pointer;
    position: relative;
    user-select: none;
}

.cabinOption input {
    display: none;
}

.cabinVisual {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.iconStack {
    position: relative;
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabinIcon {
    font-size: 35px;
    color: #262a10;
}

.offsetIcon {
    position: absolute;
    top: -8px;
    right: 5px;
    font-size: 30px;
    z-index: -1;
}

.tickBox {
    position: absolute;
    bottom: 35px;
    right: -5px;
    width: 22px;
    height: 22px;
    background-color: white;
    border: 2px solid #262a10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.cabinOption input:checked+.cabinVisual {
    opacity: 1;
}

.cabinOption input:checked+.cabinVisual .tickBox {
    background-color: #262a10;
}

.pickerWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    align-items: center;
}

.button {
    width: 200px;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: #fff;
    cursor: pointer;
}

.buttOk {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
    margin: 30px 0;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}