.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80dvh;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #262a10;
    height: 150px;
    width: 100%;
}

.searchBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 40px

}

.dateBox,
.gestsBox {
    margin: auto 10px;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.date,
.gests {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
}

.setDate,
.setGests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height var(--transition);
}

.expanded {
    height: 230px;
}

.pickerWrap {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.label {
    display: flex;
    align-items: center;
}

.button {
    width: 200px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: #fff
}

.buttOk{
border: none;
border-radius: 5px;
border: 1px solid #ddd;
background-color: inherit;
margin: 20px 0;
padding: 10px;
width: 100px;;

}